[2021-01-19 19:34] ElDeveloper commented on #473
Hierarchical metadata should certainly be treated differently. This makes sense although I think we'll need to "special case" this to columns labeled as `Level *` right? And also be very clear to the user about what's going on.

[2021-01-19 20:12] fedarko commented on #473
Agreed. What should help a bit with the special casing is that the `Level *` columns are created by EMPress' Python code (in [this module](https://github.com/biocore/empress/blob/master/empress/taxonomy_utils.py)), so we should be able to pass some information about these columns specifically to the JS code saying something like "Hey this is a taxonomy metadata column, look at its ancestors". (I d

[2021-01-22 22:40] #462 closed

[2021-01-22 22:59] fedarko opened #474 "Trigger McHelper from new CI in GitHub Actions"
As I remember @ElDeveloper mentioning back in December, there were some issues with this when moving from Travis to GH Actions (something about how the different IP address(es) used by GH Actions were not recognized by McHelper?).

I'm creating this issue so we can keep track of progress on this - it's definitely not the most urgent thing, but having this back in will help with PR review. Also, th

[2021-01-25 19:20] #453 closed

[2021-01-29 22:42] #447 closed

[2021-01-30 01:03] fedarko opened #477 "Write out README image links explicitly"
Some of the images in the README are referred to with their full URL, as follows:

![image](https://user-images.githubusercontent.com/4177727/106341831-8a7a2380-6253-11eb-9565-6655e3bb5e8c.png)

And some of the images in the README are referred to with partial URLs:

![image](https://user-images.githubusercontent.com/4177727/106341852-99f96c80-6253-11eb-90b6-b4d8d0e68195.png)

Both of these work o

[2021-01-30 16:29] 96RadhikaJadhav commented on #477
@fedarko Can I work on the issue?

[2021-01-30 16:31] 96RadhikaJadhav commented on #431
@fedarko Is this issue still open? I would like to work on it.

[2021-02-01 16:46] ElDeveloper commented on #477
Thanks @96RadhikaJadhav, I've assigned you to this issue.

[2021-02-01 16:47] ElDeveloper commented on #431
Thanks so much @96RadhikaJadhav, I've assigned you to this issue.

[2021-02-02 23:57] fedarko commented on #477
Addressed in #478.

[2021-02-02 23:57] #477 closed

[2021-02-03 01:12] ElDeveloper opened #479 "Show node circles by default"
While turning these off is a nice performance improvement. This can lend itself to misinterpretations.

For example these two leafs have the same node length (see the node detail window), but are visually of much different lengths:

<img width="823" alt="long" src="https://user-images.githubusercontent.com/375307/106683446-60896f80-6579-11eb-814b-9b65e8c1eee6.png">

<img width="807" alt="short" sr

[2021-02-03 03:16] fedarko commented on #479
As a compromise, could we add a third option besides "show all node circles" and "don't show any node circles" where just internal nodes with one child have circles drawn? This would address the confusion without impacting performance or aesthetics as much as drawing all node circles by default. (This is already the default in existing tools like iTOL -- this is controlled by the `Internal node sy

[2021-02-03 03:58] fedarko opened #480 "Strip whitespace around node names?"
I was testing EMPress on a old Newick file I had lying around (representing a tree shown in this article: https://rachel53461.wordpress.com/2014/04/20/algorithm-for-drawing-trees), and I noticed something strange.

The Newick file (I think I just put this together manually when I originally read this article?) looks like this:

[code]

Loading the tree in EMPress works as normal, but what is inter

[2021-02-09 01:44] ElDeveloper commented on #479
Yes, I like this suggestion the most. "Only show internal node circles" or something along those lines. This should be the default value. And we probably make this a dropdown menu rather than the 3 checkboxes that it would otherwise result in?

[2021-02-18 19:35] #479 closed

[2021-02-22 23:38] kwcantrell opened #488 "Disable automatic update when clade collapsing is clicked"
Currently, if the user selects clade collapsing in color by sample/feature metadata, empress will automatically collapse the tree without the user having to select the update button. To keep things consistent, we should require user to click the update button in order to collapse clades.

[2021-02-26 23:28] fedarko opened #489 "Support alternate (smaller) display for taxonomy levels with ancestor information"
One consequence of the fix implemented in #487 is that it makes individual taxonomic classifications at each level much longer than before (since now we're including ancestor information). See the example screenshots below of the moving pictures tree, colored by Level 4 (order) taxonomic classifications.

| Old | New (#487) |
| -- | -- |
| ![old](https://user-images.githubusercontent.com/4177727/1

[2021-03-08 17:39] mestaki opened #491 "Support for highlighting path between selected nodes"
Hi team,

I found myself recently needing to investigate the phylogenetic distance  between 2 specific ASVs and thought it might be really useful if Empress could visually highlight the full path between 2 (or more?) user-selected nodes. Apologies if this functionality already exists, couldn't find a way to get what I wanted.

[2021-03-11 14:06] fedarko commented on #491
Agreed that this'd be useful! This sort of thing isn't in EMPress yet, but I think it should be doable with some finagling.

I think this might overlap somewhat with the suggestion described in #427 -- I guess the path between any two distinct tips would necessarily pass through their LCA (... at least I think so?), although I suppose "highlighting just the LCA of two tips" and "drawing the path"

[2021-03-18 02:49] fedarko opened #496 "Explicitly test standalone installation / tests in the CI"
One of the reasons that the bug in #495 slipped through, I think, is that the CI runs all of its tests within a QIIME 2 conda environment -- so if there are installation errors made due to installing Empress into an environment that _doesn't_ have all the QIIME 2 stuff pre-loaded, these errors won't be caught on the CI.

As a quick solution, one way to fix this would be adding a chunk of code (a b

[2021-03-18 03:27] gibsramen commented on #496
I *think* this would make most sense as a separate GH Actions workflow. Can take a crack at this tomorrow.

[2021-03-18 17:04] gibsramen commented on #496
Currently in `tests/python/test_cli.py` we're set up to load the `qza` files through the Artifact API and convert them using transformers. What do we think about changing this to just unzip the files into the the Click isolated filesystem (which we are using anyway) and removing the `qiime2` import?

https://github.com/biocore/empress/blob/26aa6ac1ec709173c5a8d00509333fc05bc31a6c/tests/python/test

[2021-03-19 02:45] fedarko opened #500 "Add simple standalone example data"
We don't necessarily need a full tutorial or anything, but it would be nice to have an example in the README that uses data files included in this repository. Maybe setting these up as a subfolder in `docs/moving-pictures` (e.g. `docs/moving-pictures/standalone-example-data/`) would be easiest.

Newick and BIOM files are both pretty commonly used and clearly defined elsewhere, fortunately -- so I

[2021-03-19 02:46] fedarko commented on #500
"issue #500" hits different :pensive:

[2021-03-19 05:52] neptuneyt opened #501 "Get Tree Tip Label by Rectangular Layout"

[2021-03-19 21:48] #496 closed

[2021-03-19 21:54] fedarko commented on #501
Hi @neptuneyt,

Sorry, I don't understand what you mean by this issue. Could you please clarify? Thank you!

[2021-03-19 21:54] fedarko commented on #474
Closing thanks to #498 :penguin:

[2021-03-19 21:54] #474 closed

[2021-03-20 13:54] neptuneyt commented on #501
Dear empress team,
Thanks for your such amazing work.
Sorry about for uncompleted issue yesterday just for unreasonable netwok break.
My question is how to get the retangular layout tip label by the order of empress plot, example,.
the retangular layout tree plot tip label is 'A B D C', and I want the tip lable list 'A B D C' as that orders.
Thanks a lot!

[2021-03-22 01:39] neptuneyt opened #503 "Show tip lable"
Dear empress team,
Thanks for your hard work with empress.
My issue is how to show tip lable name on the tree plot, just like:
![image](https://user-images.githubusercontent.com/39893798/111929830-74217300-8af2-11eb-86d1-1cdf636a2193.png)
Thanks a lot!

[2021-03-22 22:31] fedarko commented on #503
Thanks for the diagram @neptuneyt! This makes a lot of sense, and would be a very useful feature to support.

I do not think EMPress' drawing code has much support built in for text yet, although from some brief reading ([1](https://css-tricks.com/techniques-for-rendering-text-with-webgl/), [2](https://webgl2fundamentals.org/webgl/lessons/webgl-text-html.html)) it seems like it should be possible

[2021-03-22 22:31] fedarko commented on #501
Closing in favor of #503; please re-open this if I've misunderstood.

[2021-03-22 22:31] #501 closed

[2021-03-22 23:49] neptuneyt commented on #503
Thank you for your patience.
The reason I did this is because I want to place the corresponding heatmap on the right according to the name of the tree on the left (an example below). It can hardly use the built-in add-layer function of empress to do this because of several hundred of them. To achieve this goal, do you have any good suggestions？
![image](https://user-images.githubusercontent.com/39

[2021-03-25 17:01] fedarko commented on #503
I don't think adding over hundreds of barplot layers is feasible in EMPress right now, sorry; it might become more doable when we add support for automatically modifying the state of the EMPress application as part of #131. This may make it possible to automatically generate hundreds of barplot layers in a visualization in a configuration file and then upload that configuration file to EMPress, wi

[2021-03-25 22:26] FranckLejzerowicz opened #506 "Enable stacked barplots for feature metadata"
Hi,

I believe that it is currently not possible to make a stacked bar plots for groups of feature metadata variables. EMPress only considers one feature at a time, right? (e.g. one set of taxonomic levels, one set of differential values). However, some feature metadata variables might well be more insightful is presented stacked.

For example, if there is feature metadata available on the amount

[2021-03-26 01:40] neptuneyt commented on #503
Thanks a lot!

[2021-03-30 01:50] fedarko opened #508 "Use smoother curves to draw circular layout barplots for trees with only a few tips"
To draw barplots in the circular layout, EMPress uses four triangles for each tip in the tree's "bar". When there are over a couple of tips (probably somewhere in the 10-50 tips range) this looks nice, but below this threshold the approximation is really obvious, and the barplots look very angular:

![image](https://user-images.githubusercontent.com/4177727/112920723-62296c80-90be-11eb-9f64-8c768c

[2021-03-30 19:40] fedarko commented on #506
Thank you for the suggestion! I think I understand your idea here -- this would involve allowing users to select multiple "quantitative" feature metadata categories, and then just directly plotting those as proportions in a stacked barplot?

Yeah, EMPress currently doesn't support that -- however, I think rearranging the code to do this should be doable without a ton of effort, since we already ha

[2021-03-31 00:08] FranckLejzerowicz commented on #506
Yes! A way to stack features metadata variables into a made-up-on-the-fly sample metadata could certainly do the trick for the purpose of one barplot.

Now for your questions, I think that:

1. both possibilities be meaningful (if the feature metadata variables to stack are expressed in the same scale, then the total bar lengths would make sense)
2. I have thought about this and I guess checkboxes

[2021-04-01 03:35] fedarko commented on #506
Thanks for the explanation! This helps a lot.

I think this will be possible when #131 is addressed in the future -- once using config files to save/load app state is possible, it should be pretty straightforward for us to automatically generate barplot configurations (in cases where people have tons of fancy barplot configurations they'd like to set up).

I guess my UCSD email works fine. I proba

[2021-04-07 03:08] fedarko opened #509 "Support adjusting end angle of circular layout"
I thought we already had an issue for this, but apparently not!

Motivation: Lots of tree figures (e.g. Figure 1a in [this paper](https://microbiomejournal.biomedcentral.com/articles/10.1186/s40168-021-01020-1) I was reading) have a "gap" between between the start and end angle in the circular layout, which can look nice. In EMPress, we don't have this sort of gap by default, so the tree takes up

[2021-04-07 04:03] fedarko commented on #509
We should impose a reasonable lower limit of maybe pi / 2 (90 degrees) or something similar -- it looks like length scaling gets messed up when setting the total angle span to pi / 10:

![image](https://user-images.githubusercontent.com/4177727/113808710-73582600-971b-11eb-98b7-8052908275d7.png)

... Not sure what is causing this - likely weird precision stuff, and/or the approximations we use for

[2021-04-07 17:07] ElDeveloper commented on #509
This looks like a great addition. Adding a slider that only updates the layout  when the selector is released would likely avoid freezing the UI when the trees are large. And perhaps including this as a sub-item to the "Circular" option in the layout tab, since I think this is a "layout" option.

[2021-04-08 03:04] fedarko commented on #226
Now that we've transitioned to using GitHub Actions ([main CI](https://github.com/biocore/empress/blob/master/.github/workflows/main.yml), [standalone CI](https://github.com/biocore/empress/blob/master/.github/workflows/standalone.yml)), it looks like we are using the latest Ubuntu (and I think conda) versions.

So I think all that is left for this issue is adding testing on macOS systems -- [it l

[2021-04-08 15:57] #422 closed

[2021-04-08 15:57] #473 closed

[2021-04-13 17:49] ElDeveloper opened #510 "Add node count per metadata category."
Generally this would be useful to see in the color and shearing layers.

[2021-04-13 17:52] kwcantrell commented on #510
I am currently working on this.

[2021-04-13 17:58] ElDeveloper commented on #510
Thanks so much!

[2021-04-13 21:53] mortonjt opened #511 "Feature metadata is being dropped"
I've been playing around with leveraging empress to visualization phylogenetic log-ratios; honestly its incredibly impressive how seamlessly this whole process is.

I'm finetuning some of these visualizations and am noticing that  not all of the feature metadata is being rendered.  For instance if I highlight `clade28` I will get the following figure with a bunch of white patches scattered through

[2021-04-13 22:01] kwcantrell commented on #511
hey @mortonjt I'm not entirely sure why you are getting this behavior but I have a couple ideas. Ill take a look at the .qzas and let you know what I find.

[2021-04-13 22:20] kwcantrell commented on #511
Okay, @fedarko mentioned this might actually be a Q2 issue. It looks like Q2 is merging your metadata files before passing it to EMPress however Q2 uses an inner join to merge multiple metadata files. ([see open issue  here](https://forum.qiime2.org/t/support-other-metadata-merging-strategies/15907)).  Basically clade_metadata.qza contains tips not found in taxonomy.qza so when Q2 merges these two

[2021-04-13 23:14] mortonjt commented on #511
Right on, thanks for confirming @kwcantrell !

[2021-04-15 00:47] fedarko commented on #511
I think we can close this issue since this confusion will be need to be fixed on the QIIME 2 side of things, as Kalen explained. In the meantime, the [README](https://github.com/biocore/empress#providing-multiple-metadata-files) has some documentation discussing this. Please feel free to re-open if I'm mistaken!

[2021-04-15 00:47] #511 closed

[2021-04-15 00:49] mortonjt commented on #511
No, my question was answered since this appears to be a qiime2 issue. Thanks!

[2021-05-01 04:43] fedarko opened #513 "Replace high-level <p> tags with <div>"
One weird thing I noticed in the side panel HTML is that there are hidden `<p>` tags that take up some space at the bottom of the sample / feature metadata coloring panels:

![huh](https://user-images.githubusercontent.com/4177727/116770945-5ce07a00-a9fc-11eb-859d-2821f132f1bc.png)

While trying to figure out the cause of this I ran the side panel HTML through prettier (currently prettier just wor

[2021-05-13 04:01] fedarko opened #515 "Fix resizing in main legend when coloring tree by feature metadata gradient"
Opening a new issue since we are deferring this from #484.

----

-----

[2021-05-21 15:13] kwcantrell opened #517 "McHelper is failing to connect"

[2021-05-26 12:50] jwdebelius opened #518 "Center diverging colormaps at 0"
Hi Empress team,

I'm enjoying this a lot so far!

Right now, I have a colormap between -1.49 to 1.69, centered at 0.1. Which is okay-ish, but slightly visually confusing.

Im wondering if it would be possible here (an possibly in emperor) to center diverging colormaps (maybe a as a check box?). I think it is more intuitive that positive values are all one color (say red) and negative values are a

[2021-05-26 16:10] gibsramen commented on #518
Hi, @jwdebelius

This is definitely on our radar - see https://github.com/biocore/empress/issues/365#issuecomment-729897107. Would you prefer your proposed checkbox approach to specifying numerical values for end/midpoints?

[2021-05-26 19:12] jwdebelius commented on #518
Hi @gibsramen,

I'm glad to know I'm not the only one. I really like the colorbrewer colormap, so the ability to say show RdBu scaled between -1.75 and 1.75 would kind of be my idea. That automatically sets my central value, and lets me line up with colormaps that might exist elsewhere.

[2021-05-27 03:07] fedarko commented on #518
Agreed -- it would be great to have this in. I'll see if we can get it added in soon :)

[2021-05-28 18:32] ericap258 opened #520 "Standalone raises incorrect parameter error"
@gibsramen

Hi empress team,

When using the standalone version, a wrong error message occurs.
i.e.
I tried to run the following, but got an error message indicating that I was missing the --p-filter-missing-features flag.
!empress community-plot \
    --tree tree.nwk \
    --table 61337_reference-hit.biom \
    --sample-metadata 1070_20170412-111709.txt \
    --output-dir community-tree-viz3

Err

[2021-05-28 23:24] kwcantrell commented on #520
Thanks @ericap258! Let me know if you have any questions!

[2021-06-07 22:12] fedarko opened #524 "Separate McHelper into a separate GitHub action from the Main CI"
Suggested by @kwcantrell in #519. Documenting in a new issue for reference.

Having McHelper in a new action would make it a lot easier for us / for users to distinguish when builds are failing due to the actual tests/etc. failing or due to McHelper being down. It should be possible, also, to set things up so that the "McHelper action" would only be triggered for a given push / PR / etc. when the

[2021-06-10 22:09] #286 closed

[2021-06-12 02:59] fedarko opened #526 "Inconsistent state after barplot errors"
This is a small weird problem that nonetheless makes the UI look weird:

![weird](https://user-images.githubusercontent.com/4177727/121762862-742b8080-caed-11eb-8a14-183abf9687a1.gif)

The problem is caused by setting the barplots to something invalid (e.g. trying to use continuous coloring with a categorical field, as shown in the GIF above), and then -- rather than fixing the error -- going and

[2021-06-17 04:40] ChrisKeefe commented on #366
Just a bump for this feature. I love love _love_ that this is already on your radar! I have a couple of nasty-long branches in this plot, and the extra space they add between the tree and the barplot limits interpretability a bit:

![image](https://user-images.githubusercontent.com/39198770/122332426-3f536b00-ceeb-11eb-97a1-aea3cf34020b.png)

Super impressed with this viz so far, btw. :heart_eyes_

[2021-06-17 16:54] kwcantrell commented on #366
@ChrisKeefe this feature has been on my todo list. In the meantime, you can align the tips of the tree with the barplot by selecting `Make ultrametric` under the `Branch Length` section of the Layout tab. It wont preserve the branch lengths but it will at least allow you to see which bars go to which tips.

[2021-06-23 04:30] fedarko opened #528 "Length legends' SVG exporting logic doesn't account for long titles"
Minor bug: when the length of a legend title (usually, the corresponding metadata field used to encode lengths in a barplot layer) is longer than the longest rows within the legend, this is not accounted for. This bug results in the exported SVG legends looking like:

![image](https://user-images.githubusercontent.com/4177727/123035621-77055b80-d3a0-11eb-9d7d-41b6ffc9b269.png)

This should be pret

[2021-06-30 10:06] maque4004 opened #529 "different layer share same colorbar"
Hi empress developer,

Can I set the min and max value of the colorbar when I add a layer of boxplot? and how?
For example, I'd like to set the max and min value of the colorbar to (2, -2)
![image](https://user-images.githubusercontent.com/45165322/123942558-d5988e00-d9cd-11eb-92dc-8d405a07b9ec.png)

Thanks in advance!

Best,
Jericho

[2021-06-30 21:09] kwcantrell commented on #529
Hello @maque4004, we are currently in the processes of adding this feature to empress. If you are interested, you can checkout our development branch (see #521). Additional, somewhat related, #484 will also add the ability to color the tree branches using a gradient color scheme.

[2021-07-01 02:53] maque4004 commented on #529
Thanks @kwcantrell
Now I ran the codes as described in #521
`git checkout -b kwcantrell-center-colormaps master`
`git pull https://github.com/kwcantrell/empress.git center-colormaps`
`pip install -e .`
`qiime dev refresh-cache`

So I can set the boundaries of the colorbar, but it raised an error below when I set the min value to a negative value.
(If I set the min value >= 0, it can work)
![image]

[2021-07-12 16:44] ElDeveloper commented on #526
A broader solution would be to make redrawing events limited in their scope of what they can redraw, right? So if we are re-doing layout we shouldn't recompute the barplot data, unless the "update barplot" button is pressed. Any thoughts?

[2021-07-12 18:30] ElDeveloper commented on #517
Is this because of the IPs? Or is the reason unknown?

[2021-07-13 14:58] mstapylton opened #531 "Error when running with greengenes taxonomy files, integer ID field causes type issue"
ID column only containing integers causes the dataframe index to be int type which causes the index.intersection code to fail in tool.py:
![Screen Shot 2021-07-01 at 3 40 03 PM](https://user-images.githubusercontent.com/31556972/125473806-f6d8d4af-1ad4-4629-b3ac-9e31b9a5085c.png)
[reproduce-files.zip](https://github.com/biocore/empress/files/6809779/reproduce-files.zip)
Here's the fix I put in whe

[2021-07-13 15:21] ElDeveloper commented on #531
Thanks @mstapylton, would you be able to submit a pull request with these changes and a new unit test?

[2021-07-16 14:19] mstapylton commented on #531
Sure, I think I can carve out some time next week to put together a PR. I work in the Clemente lab by the way.

[2021-07-16 17:02] ElDeveloper commented on #531
That is absolutely wonderful to hear. Thanks so much, let us know if you need any help, and say hi to Jose! 👋

[2021-07-17 02:48] fedarko opened #532 "Need to un-hide "Update" buttons when enabling sample / feature metadata coloring tabs after finishing an animation"
Small bug introduced by the changes in #505. As a part of this PR, the sample and feature metadata tree coloring tabs are disabled during EMPress / EMPeror animations and re-enabled when these animations are stopped. (This is a good thing!) If sample / feature metadata coloring was already active before the animations, it will not be automatically added when the animations are stopped (which is co

[2021-07-17 02:51] fedarko commented on #195
This was closed by #505. Thanks @kwcantrell! :tada: :tada: :tada:

[2021-07-17 02:51] #195 closed

[2021-07-17 03:21] fedarko commented on #526
I agree that that'd be ideal. There are some complications in practice due to how the code is structured, though: with the example of layouts and barplots, in order for us to re-draw the tree in a new layout, we need to also re-draw the barplots (since we can't use the same barplot coordinates for the circular and rectangular layouts). And in order to re-draw the barplots, we need to look at the c

[2021-07-17 03:55] fedarko opened #533 "Don't resize legend when changing non-color-related things?"
This isn't really a bug, but I think some users might get annoyed by this.

The changes I added in #512 automatically resize the tree coloring legend whenever sample/feature metadata coloring is updated. This is usually a good thing, since it means the legend will adjust to the size of its contents (so it'll get small if the tree is only colored by a few categories, and it'll expand -- up to its m

[2021-07-17 04:23] kwcantrell opened #534 "Continue legend overflow on new line"
It was brought up that some journals put restrictions on legend size. So, it would be nice to also allow legend text to continue on a new line.

We can set up a toggle on the legend that will either fit all legend text on single line (currently how its done) or continue legend text on a new line when overflow happens.

[2021-07-17 05:20] fedarko commented on #534
This sounds like a nice idea. If I can ask, what sort of legend text is causing the problem? I know this is a problem with long taxonomy strings (e.g. species-level ones) -- but I'm sure these won't be the only problematic cases.

From a bit of messing around with the HTML, it should be possible to insert `<br>` tags into the legend label text (as shown in the first two categories below), although

[2021-07-20 22:34] fedarko commented on #517
I don't think the reason is known. Looking at [the latest McHelper build that failed](https://github.com/biocore/empress/runs/2681216690) (at least on the master branch), it looks like the error message was

[code]

Not sure what's going on here.

[2021-07-21 00:29] fedarko commented on #531
Thank you for the detailed information and bug report, @mstapylton!

I downloaded the files you uploaded and tried running Empress using them; I don't know if this will help with the PR / testing, but the behavior I get (using the latest version of Empress as of today, and on my system) seems a bit different from the error message you screenshot here. I'm recording these differences below, just in

[2021-07-23 22:10] fedarko commented on #517
It looks like McHelper now accepts QZVs from PR branch(es), but not from master branches. McHelper worked fine for the #538 PR, but after merging this PR into master we now [get the following error](https://github.com/biocore/empress/runs/3147582588?check_suite_focus=true):

[code]

Not sure what exactly is going wrong here.

[2021-07-28 22:29] ElDeveloper commented on #517
As best as I can tell this is working in the master branch https://github.com/biocore/empress/runs/3147708934 Closing for now. 🧙

[2021-07-28 22:29] #517 closed

[2021-07-29 16:05] #520 closed

[2021-07-30 00:48] fedarko opened #540 "Use a more specific class name than 'control' in Empress' CSS"
_Originally posted by @ElDeveloper in https://github.com/biocore/empress/pull/514#discussion_r679293258_

[2021-07-31 07:52] 1Harshini commented on #540
I would like to work on this issue.

[2021-07-31 12:02] ElDeveloper commented on #540
Thanks for offering! We’ll be happy to review the pull request.

Yoshiki Vázquez-Baeza

[2021-07-31 20:37] fedarko opened #542 "Possible for Empress tree coloring to break when using timed events in Empire plots"
### Steps to reproduce

1. Start some sort of event in Emperor that only lasts for a specific duration (e.g. using the mouse to draw a box that selects a group of samples, or double-clicking a sample metadata category in Emperor). This will adjust the tree coloring (as expected), and clear the previous tree coloring (as expected).

2. Quickly, while this event is still ongoing, apply sample or fea

[2021-08-02 20:04] #540 closed

[2021-08-10 23:56] ElDeveloper commented on #491
This came up again today in the context of being able to investigate how related two COVID-19 genomes are to each other (cc @kwcantrell).

[2021-08-11 16:25] rob-knight commented on #491
I agree, would be really useful to have this and to show the tip to tip distance somehow in the UI

[2021-08-11 19:28] kwcantrell commented on #491
Agreed, I think this would this feature can help the health team and be generally useful to everyone. I will place this feature on the top of my priority list.

[2021-08-11 19:42] mestaki commented on #491
Depending on the use-case 2 different versions of this feature may be helpful:
1.   Highlighting the full branch of a user defined set of features (with feature ID, taxonomy, etc.) without highlighting the distance to each other
1.  Only highlight the tip-to-tip distances between said selected features.

[2021-08-11 20:21] ElDeveloper commented on #491
Great feedback. What do y'all think about having a "select" mode where a user can click on the nodes they want to analyze. As nodes are added the shortest path between nodes is highlighted as well as the nodes that are selected. Simultaneously the "tree statistics tab" should be updated with the average tip-to-tip distance  between selected nodes, and the tip-to-tip distances between selected node

[2021-08-11 20:26] wasade commented on #491
Would this be the node-to-node distance, or would this gather tip-to-tip distances from the tips of the selected clades?

[2021-08-11 21:46] fedarko commented on #491
I like @ElDeveloper's idea of a "select" mode. Rather than updating the Tree Statistics tab, I wonder if it might make sense to add a new "Selected Nodes" tab or something similar: this could include a table or something with information about all currently selected nodes (with options to un-select all or some of the currently selected nodes), options to toggle for whether or not the user is selec

[2021-08-12 19:46] fedarko opened #546 "Add convenience method to empress.js that gets the 0-based index of a feature metadata column"
We repeat this paradigm a lot in `empress.js` (five times just using `this._featureMetadataColumns`, by my count, and I'm pretty sure most of these are my fault :P):

[code]

It'd be nice to just make a convenience function for this:

[code]

----

For what it's worth, the BIOM table JS also does something similar with sample metadata. We could essentially just copy over this function and change i

[2021-10-20 19:56] Robaina opened #548 "Adding info on feature metadata format in README"
Hi there,

thanks for developing empress... it's great! However, I can't seem to find how to format the feature metadata tsv file required by parameter --feature-metadata. I imagine that node labels and color code should be included somehow, but just don't know how to do it in the right format.

Would be great to provide this information in README.md, or, at least, include a tsv file with a minima

[2021-10-20 23:28] kwcantrell commented on #548
@Robaina thanks for the suggestion! I'll try to put together a mini tutorial for setting up the metadata file.

But in the meantime, EMPress follows the [qiime2 standard](https://docs.qiime2.org/2019.10/tutorials/metadata/) for metadata. Essentially, the .tsv should be a tab delimited file where the first column is labeled `Feature ID`.

In terms of node color, EMPress has coloring utilities built

[2021-10-20 23:46] fedarko commented on #548
Update: @kwcantrell got to this before I could finish writing my response out ;) In case it's helpful, I'm enclosing my response below to complement Kalen's:

-----

Thanks @Robaina! This is a great point -- it'd be good to have detailed information on this in the README. You're right, we don't yet have very clear documentation of this anywhere.

In the meantime, for reference (or for anyone who w

[2021-10-21 09:47] Robaina commented on #548
Thanks for the great replies @kwcantrell  and @fedarko! I'll look into these examples. Perhaps just adding that feature metadata follows quime2 standard in README will suffice.

I'm so far using standalone empress within my python pipeline so the tree is automatically generated and displayed in the browser when done. Will take a look at quime2 too.

Thanks!

[2021-10-23 03:39] cortegas opened #549 "Trying to install using the comand in the instructions but get always the same error"
Hi everyone,

I am trying to install the plunging but the following error keeps showing up:

1 error generated.
    error: command 'x86_64-apple-darwin13.4.0-clang' failed with exit status 1

Any recommendation will be more than welcome! Thanks a lot.

[2021-10-24 04:41] fedarko commented on #549
From looking at the original error you posted, it seems like something went wrong with the installation of the Python [`iow`](https://pypi.org/project/iow/) library (which EMPress uses to store the tree in Python) into your QIIME 2 environment. In particular, it seems like something is going wrong with Cython. These sorts of system errors can be tricky to sort out. @wasade, have you seen this erro

[2021-10-25 14:44] cortegas commented on #549
Hi @fedarko,

- How did you install QIIME 2? (And which version of QIIME 2 did you install? It looks like 2021.8, but I'd like to check.)
**I installed qiime2 following instructions from the documents on the qiime2 website. The qiime version is 2021.8**

What specific OS version are you using? (It looks like macOS / OS X, but it would be helpful to know the exact version.)
**MacOS 11.6 version**

[2021-10-27 00:36] fedarko commented on #549
Thanks @cortegas! This is very useful information.

I discussed this with @wasade, the resident Cython / iow wizard, and it seems like these sorts of problems may be caused by your Mac system not having Xcode installed. (This would especially explain the second error you mentioned, with the picrust plugin -- it looks like not having Xcode has been [documented as causing this sort of problem](https

[2021-10-27 14:07] cortegas commented on #549
@fedarko I was wondering that since in google, that's what keeps appearing. A similar error popped up when I activated qiime, still allows me to run it and do some of the analysis until I want to install pluggings.

Wow, Mac is forcing you now to download their apps to code, LOL.

Thanks a lot! I will keep you posted.
Download the xcode and see if I can run everything for future mac users.

[2021-10-27 15:35] cortegas commented on #549
Problem solved @fedarko

I downloaded xcode and now I am able to install the plugins with no errors.

Thanks!

[2021-10-28 18:37] fedarko commented on #549
Awesome, thanks for reporting back @cortegas! It's good to know that installing Xcode fixes this problem. And thanks @wasade for the help!

[2021-10-28 18:37] #549 closed, assigned to nobody

[2021-10-28 18:38] fedarko opened #550 "Document dependence on Xcode for macOS systems"
See #549 -- it looks like installing `iow` requires that Xcode is already installed (at least for macOS systems). It'd be good to add a note about this somewhere in the README, maybe next to the installation instructions or in a new FAQ / troubleshooting section.

[2021-11-18 12:59] jwdebelius opened #551 "Allow settings import/export"
Hi!

I really appreciate empress. I'm wondering if it would be possible to introduce one of my favorite features from emperor. I really liked the ability to export/import a settings file that would configure the display with the colors, annotations, rotation, and scale. It can take like 10-15 minutes to get things _exactly_ the way I want as I annotate several layers of data. I'd love to see a sim

[2021-11-19 02:17] fedarko commented on #551
Thanks @jwdebelius -- I agree, this would be extremely useful to have in EMPress! We've had this on the docket for a while; I think we could maybe merge this with #131?

From what I remember, we were originally planning to focus on refactoring some of EMPress' code to make programmatically setting the application state easier, and then implement this sort of import/export functionality afterwards.

[2021-11-24 08:35] jwdebelius commented on #551
I think it, sorry! 😳

And I totally understand how that happens! I hope things are going well. It's just a feature I'll anxiously await, when it gets here

[2021-11-24 18:36] gibsramen commented on #551
@fedarko I think this would be best. I can take a stab at a rudimentary version of this in the next couple of weeks but no promises.

[2021-11-25 18:33] fedarko commented on #551
@jwdebelius No worries at all!!! It's always useful for us to know what planned features will be helpful for users to have; this is a reminder for me to get back to work ;)

@gibsramen that would be super dope, thanks! Hit me up if you want to try to pair-program this or something. We might be able to knock this out in a day or two (although I also have finals coming up soon so, uh, ditto on the n

[2021-12-01 04:19] ElDeveloper commented on #551
Just my two cents, as much as possible mimicking the JSON format in EMPeror would be great. Thanks for working on this, it'll be super helpful to have this.

[2021-12-06 11:30] OliverAshton1 opened #552 "Error installing Empress"
Hello

I am trying to install empress into qiime2 2021.11 on Windows 10 WSL (Ubuntu 20.04.3 LTS (GNU/Linux 5.10.60.1-microsoft-standard-WSL2 x86_64)), versions attached. I have attached a copy of the full error below. The rest of Qiime2 works fine for me.

Any help is appreciated.
Oliver

[Empress Error.txt](https://github.com/biocore/empress/files/7660282/Empress.Error.txt)

[Versions.txt](https:

[2021-12-07 01:59] fedarko commented on #552
Hi @OliverAshton1,

Thanks for the detailed report. I just checked, and was able to install Empress using pip into a new QIIME 2 2021.11 environment (with the same software versions as you've listed in `Versions.txt`) on a Linux computer. This, together with the exact error message you got, implies that things are going wrong when installing the `iow` library into your system.

The origin of the i

[2021-12-07 09:09] OliverAshton1 commented on #552
Hi @fedarko

As you recommended I used:
[code]

binutils installed 6 new packages, then Empress installed first time, on both my PCs that showed the error.
Many thanks for your quick reply!

Oliver

[2021-12-07 09:14] #552 closed, assigned to nobody

[2021-12-08 00:30] fedarko opened #553 "Document dependence on binutils"
See #552. The root cause of that issue was binutils not being installed before trying to install EMPress (installing `iow` involves running the `ar` command, which is included with binutils).

I suspect that binutils should be installed by default on _most_ Unix systems, so this problem will likely only be an issue for very minimal Linux distributions (e.g. Damn Small Linux, which -- [at least in

[2021-12-08 00:32] fedarko commented on #552
Fantastic, thanks @OliverAshton1! Glad that worked.

I just created a new issue (#553): we'll add this information to EMPress' documentation to help other people who run into this problem in the future, since I imagine that other WSL users may also encounter this.

[2022-02-02 16:19] mortonjt opened #554 "Adding midpoint coloring"
It would be great if there was support for diverging colormaps (vmin, vcenter and vmax) as done in matplotlib's [TwoSlopeNorm](https://matplotlib.org/stable/api/_as_gen/matplotlib.colors.TwoSlopeNorm.html#matplotlib.colors.TwoSlopeNorm).  I think this use-case will become increasing common for publishing Empress figures in high impact venues that require fine-tuning of color legends.

To see what

[2022-02-02 16:54] mortonjt commented on #554
zoops, just realized that this is partially implemented here : https://github.com/biocore/empress/pull/484 https://github.com/biocore/empress/pull/521

And has been mentioned in https://github.com/biocore/empress/issues/365 https://github.com/biocore/empress/issues/518 and https://github.com/biocore/empress/issues/529
will follow up with midpoint coloring in a sec

[2022-04-13 17:52] justinshaffer commented on #551
Thanks for the great tool! I wanted to express my enthusiasm for this functionality - looking forward to seeing it implemented.

[2022-05-18 00:19] fedarko opened #556 "Support discretization as an alternative to continuous coloring"
Just to track this as a separate feature, independent of #521.

From @mortonjt in https://github.com/biocore/empress/issues/521#issuecomment-1128942024:

From @kwcantrell:

From @antgonza:

From @kwcantrell:

[2022-05-20 08:39] fedarko opened #557 "Race condition / itermittent failure in one of the barplot tests"
Noticed while working on #521 -- [this particular test](https://github.com/biocore/empress/blob/bf6f755c5187e543ff13c2c624b153fb97918b23/tests/test-barplots.js#L353-L359) was failing (it was expecting `216` coordinates, but only saw `72`). Adding log statements during debugging seemed to cause the test to stop failing, and the test kept passing even after I removed the logs again?

Since I don't t

[2022-05-20 16:14] gibsramen opened #558 "Option to overwrite existing directory"
I'd like to use Empress in a Snakemake pipeline (see below) but I'm running into an annoying issue. If my understanding is correct (which it could very well not be), the way Snakemake works is that it sees that the `results/empress` directory does not exist and thus creates it before the shell command executes. However, when this occurs Empress complains that `Output directory already exists!`. I

[2022-05-21 00:09] fedarko commented on #558
Eesh, that's annoying! It should be feasible to add this in. Looks like the lines causing the problem are here:

https://github.com/biocore/empress/blob/e543610c5654399aa1dcbbede09b45b45c4170d0/empress/_plot_utils.py#L86-L101

... So we can probably just add an `--overwrite / --no-overwrite` flag (default `--no-overwrite`, i.e. the current behavior) to the standalone script, and then pass the valu

[2022-05-21 13:46] gibsramen commented on #558
I think deleting the contents of the output directory might be too dangerous (who knows what other stuff people could have in there). If we could only overwrite `empress.html` and `support_files/*` I think that would be sufficient.

Also I wrote this code so it's my own fault this is an annoying issue 😅

[2022-05-23 14:37] ElDeveloper commented on #558
Overwriting is definitely the way to go. This used to be the behavior of `make_emperor.py` (the predecessor to q2-emperor) and this approached worked great for years.

From: Gibs ***@***.***>
Date: Saturday, May 21, 2022 at 6:46 AM
To: biocore/empress ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [biocore/empress] Option to overwrite existing directory (Issue #558)

I think deleting the co

[2022-05-23 14:38] #550 closed, assigned to nobody

[2022-05-23 14:38] #553 closed, assigned to nobody

[2022-07-12 15:50] gibsramen commented on #558
So this specific instance can be circumvented with

[code]

but I think it's still worth adding the `--overwrite` option. Will try to carve out some time to finish up my PR.

[2022-08-12 07:11] fedarko opened #560 "McHelper QZV links don't load on q2view (expired certificate?)"
I noticed that, when clicking on the `view` links for the QZVs in the README, I get the following error message from q2view (in both Firefox and Chromium):

![image](https://user-images.githubusercontent.com/4177727/184302330-012e88e4-fec2-429b-9578-67d0754a5357.png)

However, these files are still hosted on McHelper. If I type in the exact URL of one of these QZVs, I instead get a warning about a

[2022-08-15 14:44] antgonza commented on #560
Thank you for reporting; the certificate has been updated; could you confirm?

[2022-08-15 22:54] fedarko commented on #560
Thank you, @antgonza! I can confirm that the links now work perfectly.

[2022-08-15 22:54] #560 closed, assigned to nobody